<div class="card employee-card mr-1 mt-3">
    <div class="card-header">
        <h2 class="card-title text-center">{{ name }}</h2></br>
        <h3 class="card-title text-center"><span class="material-icons">backpack</span></br>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item text-center"><span class="material-icons">fingerprint</span></br>ID:</br>{{ id }}</li></br>
            <li class="list-group-item text-dark text-center"><span class="material-icons">email</span></br>Email:</br><a href="mailto:{{ email }}">{{ email }}</a></li></br>
            <li class="list-group-item text-center"><span class="material-icons">school</span></br>School:</br>{{ school }}</li>
        </ul>
    </div>
</div>